{% extends 'shared/_layout.html' %}
{% load render_partial %}
{% load poll_extras %}

{% load thumbnail %}

{% block title %}
    لیست مقالات
{% endblock %}

{% block content %}
    <section>
        <div class="container">
            <div class="row">

                <div class="col-sm-9">
                    <div class="blog-post-area">
                        <h2 class="title text-center">آخریـن مطالب</h2>
                        {% for article in object_list %}
                            <div class="single-blog-post">
                                <h3>{{ article.title }}</h3>
                                <div class="post-meta">
                                    <ul>
                                        {% if article.author is not None %}
                                            <li><i class="fa fa-user"></i>{{ article.author }}</li>
                                        {% endif %}
                                        <li><i class="fa fa-clock-o"></i>{{ article.get_jalali_creat_time }}</li>
                                        <li><i class="fa fa-calendar"></i>{{ article.creat_date | show_jalali_date }}
                                        </li>
                                    </ul>
                                    <span>
										<i class="fa fa-star"></i>
										<i class="fa fa-star"></i>
										<i class="fa fa-star"></i>
										<i class="fa fa-star"></i>
										<i class="fa fa-star-half-o"></i>
								</span>
                                </div>
                                <a href="">
                                    {% thumbnail article.image "862x398" crop="center" as im %}
                                        <img src="{{ im.url }}" alt="">
                                    {% endthumbnail %}
                                </a>
                                <p>{{ article.short_description }}</p>
                                <a class="btn btn-primary" href="{% url 'article_detail' pk=article.id %}">ادامـه مطلب</a>
                            </div>
                        {% endfor %}
                            <ul class="pagination">
                            {% if page_obj.has_previous %}
                                <li>
                                    <a href="?page={{ page_obj.previous_page_number }}">قبلی</a>
                                </li>
                            {% endif %}
                            {% for pageNumber in paginator.page_range %}
                                <li class={% if page_obj.number == pageNumber %}"active"{% endif %}>
                                    <a href="?page={{ pageNumber }}">{{ pageNumber }}</a>
                                </li>
                            {% endfor %}
                            {% if page_obj.has_next %}
                                <li>
                                    <a href="?page={{ page_obj.next_page_number }}">بعدی</a>
                                </li>
                            {% endif %}
                        </ul>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="left-sidebar">
                        {% render_partial 'article_module.views.article_categories_component' %}
                        <div class="shipping text-center"><!--shipping-->
                            {% for banner in banners %}
                                <a href="{{ banner.url }}">
                                    <h5>{{ banner.title }}</h5>
                                 {% if banner.video %}
                                        <video class="my-video" controls>
                                            <source src="{{ banner.video.url }}" type="{{ banner.video.content_type }}">
                                        </video>
                                    {% else %}
                                        {% thumbnail banner.image "270x329" crop="center" as im %}
                                            <img src="{{ im.url }}" alt="">
                                        {% endthumbnail %}
                                    {% endif %}
{#                                    {% thumbnail banner.image "270x329" crop="center" as im %}#}
{#                                        <img src="{{ im.url }}" alt="">#}
{#                                    {% endthumbnail %}#}
                                </a>
                            {% endfor %}
                        </div><!--/shipping-->
                    </div>
                </div>

            </div>
        </div>
    </section>
{% endblock %}