{% extends 'shared/_layout.html' %}


{% block title %}
    بارانسنجی ها
{% endblock %}

{% block content %}
    <div class="container mt-5">
        <table id="editableTable" class="table table-bordered">
            <thead>
            <tr>
                <th class="text-center">ردیف</th>
                <th class="orderable text-center">تاریخ ثبت</th>
                <th class="orderable text-center">شهر</th>
                <th class="orderable text-center">نام</th>
                <th class="orderable text-center">بارندگی اخیر (میلیمتر)</th>
                <!-- Add other columns as needed -->
            </tr>
            </thead>
            <tbody>
            {% for gauge in rain_gauges %}
                <tr data-id="{{ gauge.id }}">
                    <td class="non_editable text-center" data-id="{{ gauge.id }}" data-type="id">{{ gauge.id }}</td>
                    <td class="non_editable text-center" data-id="{{ gauge.id }}" data-type="id">{{ gauge.last_rainfall_date_time }}</td>
                    <td class="non_editable text-center" data-id="{{ gauge.id }}" data-type="city">{{ gauge.city }}</td>
                    <td class="non_editable text-center" data-id="{{ gauge.id }}" data-type="title">{{ gauge.title }}</td>
                    <td class="editable text-center" data-id="{{ gauge.id }}" data-type="recent_rainfall">{{ gauge.recent_rainfall }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
{% endblock %}

