{% extends 'shared/_layout.html' %}
{% load poll_extras %}
{% load django_tables2 %}


{% block title %}
    بارندگی اخیر در استان
{% endblock %}

{% block content %}
    <div class="container mt-5">
        <h3 class="text-center">بارندگی سامنه اخیر در استان ({{ today | show_jalali_date }})</h3>

        <p class="lead text-center">
            این جدول نشان دهنده میزان بارندگی سامانه اخیر در استان است. داده ها از شبکه مراکز بارانسنجی گرفته شده اند.
        </p>

        {% render_table table %}

    </div>
    {% if request.user.is_authenticated %}
        <div class="download-buttons">
            <a href="{% url 'rain_gauges_export_xls' %}" class="btn btn-down">دانلود اکسل</a>
            {% if request.user.username in allowed_users %}
                <a href="{% url 'rain_gauges_export_lat_long_xls' %}" class="btn btn-down">دانلود اکسل با طول و عرض</a>
            {% endif %}
        </div>
    {% endif %}
    <hr>
    <div class="container mt-5">
        <h3 class="text-center">نقشه بارندگی اخیر</h3>
        <div class="" id="map">{{ map_html|safe }}</div>
    </div>
    <hr>
{% endblock %}


