{% extends 'shared/_layout.html' %}

{% block title %}
    ثبت بارش اخیر
{% endblock %}

{% block content %}
    <div class="container mt-5 table-responsive">
        <head>
            <meta charset="UTF-8">
            <title>آپدیت بارش ایستگاه‌ها</title>
        </head>
        <body>
        <table class="my-table">
            <thead>
            <tr>
                <th class="my-cell">ردیف</th>
                <th class="my-cell">نام ایستگاه</th>
                <th class="my-cell">بارندگی 3 ساعته</th>
                <th class="my-cell">بارندگی سامانه اخیر (میلیمتر)</th>
                <th class="my-cell">بارندگی سال زراعی تا کنون (میلیمتر)</th>
            </tr>
            </thead>
            <tbody>
            {% for station in stations %}
                <tr>
                    <td class="my-cell">{{ forloop.counter }}</td>
                    <td class="my-cell">{{ station.title }}</td>
                    <td class="my-cell">{{ station.rainfall_3h }}</td>
                    <td class="my-cell">{{ station.recent_rainfall }}</td>
                    <td class="my-cell">{{ station.year_rainfall }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <div class="form-container">
            <a class="btn-save" href="{% url 'stations_table_3h_recent_rainfall' %}?download=true">دانلود اکسل</a>
        </div>

        </body>
    </div>
{% endblock %}